# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# yue-library ignore
application-test-confidential.yml
application-test-confidential.properties

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.iml
# Windows shortcuts
*.lnk
/.idea
/log
/logs
# =========================
# Operating System Files
# =========================
node_modules/

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar