<configuration status="INFO" monitorInterval="30">
    <appenders>
        <!--这个输出控制台的配置-->
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="%highlight{[ %p ] [%-d{yyyy-MM-dd HH:mm:ss}] [%l] %m%n}"/>
        </console>

        <!--<KafkaAppender name="kafkaAppender" appName="plumelog_log4j2" kafkaHosts="172.16.247.143:9092,172.16.247.60:9092,172.16.247.64:9092">-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n" />-->
        <!--</KafkaAppender>-->

        <RedisAppender name="redisAppender" appName="plumelog_log4j2" reidsHost="172.16.249.72" redisPort="6379">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n" />
        </RedisAppender>

    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="redisAppender"/>
        </root>
    </loggers>
</configuration>