<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>My WebSocket</title>
    <script src="jquery.min.js"></script>
</head>

<body>
欢迎光临！<br/>

<div id="log-container" style="height: 450px; overflow-y: scroll; background: #333; color: #aaa; padding: 10px;">
    <div>
    </div>
</div>
<input id="text" type="text" style="width: 300px"/><input type="file" id="file"/><button onclick="send()">发送消息</button>    <button onclick="closeWebSocket()">退出聊天室</button>
&nbsp;<br/>
</body>

<script type="text/JavaScript">
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost:8080/webSocketServer?1");//问好后面就是房间号
    }
    else{
        alert('Not support websocket');
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("连接出错！");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        setMessageInnerHTML("您已加入聊天室");
    };

    //接收到消息的回调方法
    websocket.onmessage = function(){
        if(typeof(evt.data)=="string"){
            setMessageInnerHTML(event.data);
        }else{
            var reader = new FileReader();
            reader.onload = function(evt){
                if(evt.target.readyState == FileReader.DONE){
                    var url = evt.target.result;
                    img.innerHTML = "<img src = "+url+" />";
                    setMessageInnerHTML("<img src = "+url+" />")
                }
            }
            reader.readAsDataURL(evt.data);
        }
    };

    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("您已退出！");
    };

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    };

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        // 接收服务端的实时日志并添加到HTML页面中
        $("#log-container div").append(innerHTML+"<br/>");
        // 滚动条滚动到最低部
        $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }
    //发送消息

    function sendFile(isWithText){
        var inputElement = document.getElementById("file");
        var fileList = inputElement.files;
        var file=fileList[0];
        if(!file) return;
        var reader = new FileReader();
        //以二进制形式读取文件
        reader.readAsArrayBuffer(file);
        //文件读取完毕后该函数响应
        reader.onload = function loaded(evt) {
            var blob = evt.target.result;
            //发送二进制表示的文件
            websocket.send(blob);
        }
    }
    function send(){
        var message = document.getElementById('text').value;
        //消息格式, 消息内容+“|”+房间号
        if(message){
            websocket.send(message);
        }
        sendFile(message);
        document.getElementById('text').value="";
    }

</script>
</html>