<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <!--<property name="LOG_HOME" value="/home" />-->
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- easylog日志 -->
<!--    <appender name="easylog" class="KafkaAppender">-->
<!--        <appName>plumelog_logback</appName>-->
<!--        <kafkaHosts>172.16.247.143:9092,172.16.247.60:9092,172.16.247.64:9092</kafkaHosts>-->
<!--    </appender>-->
    <!-- easylog日志 -->
<!--    <appender name="plumelog" class="com.plumelog.logback.appender.RedisAppender">-->
<!--        <appName>plumelog-test</appName>-->
<!--        <redisHost>10.100.2.54</redisHost>-->
<!--        <redisPort>6379</redisPort>-->
<!--        <redisAuth>plumelogredis</redisAuth>-->
<!--        <maxCount>100</maxCount>-->
<!--        <logQueueSize>100000</logQueueSize>-->
<!--        <runModel>2</runModel>-->
<!--        <expand>sleuth</expand>-->
<!--    </appender>-->
    <appender name="plumelog" class="com.plumelog.logback.appender.RedisClusterAppender">
        <appName>plumelog-test</appName>
        <redisClusterNodes>10.100.2.47:6379,10.100.2.47:6380,10.100.2.57:6379,10.100.2.57:6380,10.100.2.77:6379,10.100.2.77:6380</redisClusterNodes>
        <runModel>2</runModel>
        <expand>sleuth</expand>
    </appender>
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="plumelog" />
    </root>
</configuration>