<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="com.plumelog.log4j2.appender">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--这个都知道是输出日志的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- easylog日志 -->
        <!--<appender name="plumelog_demo" class="KafkaAppender">
        <appName>plumelog_rest</appName>
        <kafkaHosts>10.103.4.37:9092,10.103.4.50:9092,10.103.4.53:9092</kafkaHosts>
        </appender>-->

        <!--10.103.4.50   172.16.249.72-->
        <RedisAppender name="plumelog_demo" appName="plumelog_rest" redisHost="172.16.249.72" redisPort="6379" expand="sleuth"/>
        <!--<RedisAppender name="easylog_demo" appName="plumelog_demo" reidsHost="10.103.4.14" redisPort="6379" />-->
        <!--整个日志采取异步输出，由于混部会影响性能，故 console和redis都采用异步输出，
            所以说有时候日志没有输出完也许应用已经可以访问了
         -->
    </Appenders>

    <Loggers>
        <root level="info" includeLocation="true">
            <appender-ref ref="console"/>
            <appender-ref ref="plumelog_demo"/>
        </root>
    </Loggers>
</Configuration>