<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="com.plumelog.log4j2.appender">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss}-[%p] [%t] [%c] %m%n"/>
        </Console>

        <!-- easylog日志 -->
<!--        <appender name="plumelog_demo" class="com.plumelog.log4j2.appender.KafkaAppender">-->
<!--        <appName>plumelog_demo</appName>-->
<!--        <kafkaHosts>10.103.4.37:9092,10.103.4.50:9092,10.103.4.53:9092</kafkaHosts>-->
<!--        </appender>-->

        <!--10.103.4.50   172.16.249.72-->
       <RedisAppender name="plumelog_demo" appName="plumelog_demo" redisHost="172.16.249.72" redisPort="6379" runModel="2" />
    </Appenders>

    <Loggers>
        <root level="info" includeLocation="true">
            <appender-ref ref="console"/>
            <appender-ref ref="plumelog_demo"/>
        </root>
    </Loggers>
</Configuration>